:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONTS */
@font-face{
  font-family: "Roboto-bold";
  src: url(src/fonts/Roboto/Roboto_Bold.ttf) format('truetype');
}

@font-face{
  font-family: "Praise";
  src: url(src/fonts/Praise/Praise-Regular.ttf) format('truetype');
}


.wrapper {
  font-family: "Roboto-bold";
  font-size: 24px;

  color: black;

  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  padding: 0 5rem 5rem 5rem;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 20px; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: purple;
}




/* Top Menu */

.top{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkorange;
  align-items: center;

  padding: 0.5rem 5.5rem 0.5rem 5.5rem;
}

.bottom{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  background-color: darkorange;
  align-items: center;
  color: white;

  gap: 20px;

  padding: 0.5rem 5.5rem 0.5rem 5.5rem;
}

.bottom img{
  max-width: 100px;
  width: 100%;
}

.bottom .item1, .bottom .item2{
  display: flex; 
  flex-direction: column;
}
.bottom .item1 h2::before{
  content: "📗";
}


.bottom .links{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}



.top .Menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.top .logo{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.top .mobileMenu {
  display: flex;
  gap: 20px;
}
.top .menubtn{
  display: none;
}
.top .menubtn img{
  width: 50px;
  height: 50px;
}
.top label {
  position: absolute;
}




/* text customization */
.center .multiline{
  white-space: pre-line;
}

/* Rest of the page */

.TopPage{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 800px;
  background: radial-gradient(white, #FFCD3C);
  background-size: 100% 100%; 
  background-position: center;
}

.TopPage h1{ 
  font-size: 48px;
  word-spacing: 20%;
  font-family: "Praise";
  font-weight: normal;
}

.TopPage img{
  width: 250px;
}

h1{
  font-size: 48px;
}
h2{
  font-size: 32px;
}

#S1, #S2, #S3, #S4, #S5{
  padding: 2rem;
  font-size: 24px;
  min-height: 400px;
  max-height: 1000px;
}
 

/* Section 1 */
#S1 {
  display: flex;
  flex-direction: column;
  background-image: url(src/images/img1.png);
  
  height: 700px;

  background-repeat: no-repeat;
  background-size: cover;
}
#S1 .item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 20px;
}
#S1 p {
  width: 40%;
}
#S1 iframe{
  align-self: end;
  max-width: 650px; 
  min-width: 200px;
  
  max-height: 500px;
  min-height: 300px;

  height: 100%;
  width: 100%;
}


/* Section 2 */
#S2 {
  display: flex;
  flex-direction: column;
  background-color: #ffc83d; 
}

#S2 h1{
  align-self: end;
  margin: 10px;
}

#S2 p{
  align-self: start;
  margin-bottom: 10px;
}

#S2 img{
  width: 100%;
  max-width: 500px;
  height: auto;

  background-color: white;
}


/* Section 3 */
#S3{
  height: auto;

  display: flex;
  justify-content: space-between;

  gap: 20px;

  background-image: url(src/images/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#S3 .item1{
  display: flex;
  flex-direction: column;
  width: 50%;
}
#S3 .sub{
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

#S3 button{
  border: none;
  font-size: 24px;
  background-color: orange;
  color: white;

  padding: 1rem;  
}


#S3 button:hover{
  background-color: white;
  color: orange;
}
#S3 .item2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  gap: 20px;
}
#S3 img{
  width: 100%;
  max-width: 500px;
  height: auto;

  background-color: white;
}

#S3 button{
  width: 100%;
  max-width: 500px;
}




/* Section 4 */
#S4 {
  background-color: #B0DB72;
}
#S4 h1{
  text-align: end;
}

#S4 p{
  font-weight: 100;
}
#S4 p::before{
  content: "▶️";
}


#S5{
  background-image: url(src/images/img3.png);
  font-weight: 400;

  height: 700px;

  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------ */
/* ----- Medias ----- */
/* ------------------ */

@media screen and (max-width: 800px){
  h1 {
    font-size: 24px;
  }
  h2{
    font-size: 20px;
  }
  .TopPage h1{
    font-size: 48px;
  }

  p{
    font-size: 12px;
  }

  .wrapper{
    padding-inline: 1rem;
  }
  .top {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
  }
  .top .logo1 label::before{
    position: absolute;
    content: "menu";
  }
  .top .menubtn{
    display: flex;
    position: static;
    border: none;
    background-color: transparent;
    margin: 0;
  }

  .top .mobileMenu{
    display: none;   
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 77, 77);
    color: white;
    text-decoration: none;
    padding: 10px;
    gap: 0px;
  }
  .top .mobileMenu a:hover{
    background-color: white;
    transition: 0.3ms ease;
  }
  .top .mobileMenu a{
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  .bottom{
    padding-inline: 1.5rem;
    height: 250px;
  }
  .bottom img{
    width: 25px;
  }
  .bottom .item2{
    height: 100%;
    justify-content: center;
  }

  #S2 img{
  width: 100%;
  max-width: 300px;
  height: auto;

  background-color: white;
}

}

