:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  box-sizing: border-box;
  padding-inline: 30px;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  box-sizing: border-box;
  font-size: 20px; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(55, 39, 39, 0.87);
  background-color: #a9a9a9;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: purple;
}

.top{
  display: flex;
  justify-content: space-between;
}

.top .logo{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.top .menubtn, .top .mobileMenu{
  display: none;
}
.top .mobileMenu {
  color: white;
  text-decoration: none;
}

.hamMenu {
  display: flex;
  gap: 15px; 
}

.top label {
  position: absolute;
}




/* ------------------ */
/* ----- Medias ----- */
/* ------------------ */

@media (max-width: 800px){
  
  .wrapper{
    padding-inline: 50px;
  }
  .top{
    flex-direction: column;
    justify-content: center;
  }
  .hamMenu{
    display: none;
  }
  .logo1 .hamMenu{
    height: 500px;
  }
  .top .logo1{
    display: flex;
    justify-content: space-between;
  }
  .top .logo1 label::before{
    position: absolute;
    content: "menu";
  }
  .top .menubtn{
    display: block;
    position: static;
    padding-left: 40px;
    background-image: url("/src/icons/hamburger.png");
  }
  .top .mobileMenu{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 420px){
  
  .wrapper{
    padding-inline: 50px;
  }
}





/* Some junk down bellow */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */